
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="span3">
				<div class="lowerbar section" id="lowerbar1"><div class="widget Label" id="Label3">
					<h2>Categorias</h2>
					<div class="widget-content list-label-widget-content">
						<ul>
							<li>
								<a dir="ltr" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label1">Categoria1</a>
								<span dir="ltr">(7)</span>
							</li>
							<li>
								<a dir="ltr" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label2">Categoria2</a>
								<span dir="ltr">(7)</span>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
				</div></div>
			</div>
			<div class="span3">
				<div class="lowerbar section" id="lowerbar2"><div class="widget Profile" id="Profile1">
					<h2>About Me</h2>
					<div class="widget-content">
						<a href="http://www.blogger.com/profile/12167090875086562485"><img alt="My Photo" class="profile-img" height="80" src="http://1.bp.blogspot.com/-91zSHUoVNKY/Ubvr_ZZ-m_I/AAAAAAAABfk/GeyPCL_QulM/s1600/531509_448311445200958_1768760710_n.jpg" width="77"></a>
						<dl class="profile-datablock">
							<dt class="profile-data">
								<a class="profile-name-link g-profile" href="http://www.blogger.com/profile/12167090875086562485" rel="author" style="background-image: url(//www.blogger.com/img/logo-16.png);" data-gapiscan="true" data-onload="true" data-gapiattached="true">
									Admin
								</a>
							</dt>
							<dd class="profile-textblock">I am Ramnadh, I love to write about latest technologies and Blogging. </dd>
						</dl>
						<a class="profile-link" href="http://www.blogger.com/profile/12167090875086562485" rel="author">View my complete profile</a>
						<div class="clear"></div>
					</div>
				</div></div>
			</div>
			<div class="span3">
				<div class="lowerbar section" id="lowerbar3"><div class="widget PopularPosts" id="PopularPosts3">
					<h2>Popular Posts</h2>
					<div class="widget-content popular-posts">
						<ul>
							<li>
								<div class="item-content">
									<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-out-image.html">A post with out image</a></div>
									<div class="item-snippet">A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post w...</div>
								</div>
								<div style="clear: both;"></div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-thumbnail">
										<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html" target="_blank">
											<img alt="" border="0" height="72" src="http://1.bp.blogspot.com/-AeZ2PfdHMP8/T7zUFkp4ZDI/AAAAAAAAAck/NKQEadYbNg8/s72-c/Business+Computer.jpg" width="72">
										</a>
									</div>
									<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html">Pinterest blogger template</a></div>
									<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
								</div>
								<div style="clear: both;"></div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-thumbnail">
										<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html" target="_blank">
											<img alt="" border="0" height="72" src="http://3.bp.blogspot.com/-Wkl5cENLsFY/T8R8w_s5MPI/AAAAAAAAAe0/lUrUNx3dkIM/s72-c/alfa_romeo_mito_maserati-1440x900.jpg" width="72">
										</a>
									</div>
									<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html">Pinterest Blogger Template</a></div>
									<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
								</div>
								<div style="clear: both;"></div>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
				</div></div>
			</div>
			<div class="span3">
				<div class="lowerbar section" id="lowerbar4"><div class="widget PopularPosts" id="PopularPosts2">
					<h2>Popular Posts</h2>
					<div class="widget-content popular-posts">
						<ul>
							<li>
								<div class="item-content">
									<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-out-image.html">A post with out image</a></div>
									<div class="item-snippet">A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post w...</div>
								</div>
								<div style="clear: both;"></div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-thumbnail">
										<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html" target="_blank">
											<img alt="" border="0" height="72" src="http://1.bp.blogspot.com/-AeZ2PfdHMP8/T7zUFkp4ZDI/AAAAAAAAAck/NKQEadYbNg8/s72-c/Business+Computer.jpg" width="72">
										</a>
									</div>
									<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html">Pinterest blogger template</a></div>
									<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
								</div>
								<div style="clear: both;"></div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-thumbnail">
										<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html" target="_blank">
											<img alt="" border="0" height="72" src="http://3.bp.blogspot.com/-Wkl5cENLsFY/T8R8w_s5MPI/AAAAAAAAAe0/lUrUNx3dkIM/s72-c/alfa_romeo_mito_maserati-1440x900.jpg" width="72">
										</a>
									</div>
									<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html">Pinterest Blogger Template</a></div>
									<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
								</div>
								<div style="clear: both;"></div>
							</li>
						</ul>
						<div class="clear"></div>

					</div>
				</div></div>
			</div>
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js?ver=1.7.2" type="text/javascript"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
	<p class="footer-link"> © <a href="http://bootstrapbloggertemplate.blogspot.com.br/"><strong>Bootstrap Blogger Template Demo</strong></a> 2013 . Powered by <a href="http://bootstrap.slugs.in" rel="nofollow" title="Bootstrap Blogger Templates">Bootstrap Blogger Templates</a></p>
</div><!-- END Footer -->
