
<div class="container" id="container">
	<div class="row">
		<div class="span8 clearfix">
			<div class="main section" id="main"><div class="widget Blog" id="Blog2">
				<div class="blog-posts hfeed">
					<div class="date-outer">
						<div class="date-posts">
							<div class="post-outer">
								<!--START POSTS -->
								<%= render "post" %>
							</div>
						</div>
					</div>
				</div>

				<!-- BOTAO HOME-->
				<div class="blog-pager" id="blog-pager">
					<a class="home-link btn" href="http://bootstrapbloggertemplate.blogspot.com.br/">Home</a>
				</div>
				<div class="clear"></div>

			</div>
		</div>
		<!-- END Loop -->
	</div>

