<!--
*
*     _/_/_/_/ _/_/_/_/_/ _/_/_/_/ _/_/_/_/ _/_/_/_/_/ _/    _/ _/_/_/_/           _/  _/_/_/_/ _/_/_/_/
*    _/           _/     _/    _/ _/    _/     _/     _/    _/ _/    _/           _/  _/    _/ _/    _/
*    _/_/_/_/    _/     _/_/_/_/ _/_/_/_/     _/     _/    _/ _/_/_/_/     _/_/  _/  _/    _/ _/ _/_/
*         _/    _/     _/    _/ _/   _/      _/     _/    _/ _/           _/    _/  _/    _/ _/    _/
*  _/_/_/_/    _/     _/    _/ _/     _/    _/     _/_/_/_/ _/           _/_/_/_/  _/_/_/_/ _/_/_/_/
*
*  Startup Job
*  (C) 2013 Startup Job. All rights reserved.
*  site: www.startupjob.com.br
*  email: contato@startupjob.com.br
*
-->
<!DOCTYPE html>
<html>
<head>
  <title>ListaAe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
