<!--
*
*     _/_/_/_/ _/_/_/_/_/ _/_/_/_/ _/_/_/_/ _/_/_/_/_/ _/    _/ _/_/_/_/           _/  _/_/_/_/ _/_/_/_/
*    _/           _/     _/    _/ _/    _/     _/     _/    _/ _/    _/           _/  _/    _/ _/    _/
*    _/_/_/_/    _/     _/_/_/_/ _/_/_/_/     _/     _/    _/ _/_/_/_/     _/_/  _/  _/    _/ _/ _/_/
*         _/    _/     _/    _/ _/   _/      _/     _/    _/ _/           _/    _/  _/    _/ _/    _/
*  _/_/_/_/    _/     _/    _/ _/     _/    _/     _/_/_/_/ _/           _/_/_/_/  _/_/_/_/ _/_/_/_/
*
*  Startup Job
*  (C) 2013 Startup Job. All rights reserved.
*  site: www.startupjob.com.br
*  email: contato@startupjob.com.br
*
-->
<!DOCTYPE html>
<html>
<head>
	<title>ListaAe</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<body>
		<div class="navbar navbar-inverse" style="position: static;">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-target=".navbar-inverse-collapse" data-toggle="collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="#">Home</a>
					<div class="nav-collapse collapse navbar-inverse-collapse">
						<ul class="nav">
							<li><a href="#" rel="tooltip">Link</a></li>
							<li><a href="#">Link</a></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li class="divider"></li>
									<li class="nav-header">Nav header</li>
									<li><a href="#">Separated link</a></li>
									<li><a href="#">One more separated link</a></li>
								</ul>
							</li>
						</ul>
						<form action="/search" class="navbar-search pull-left">
							<input class="search-query span2" name="q" placeholder="Search" type="text">
						</form>
						<ul class="nav pull-right">
							<li><a href="#">Link</a></li>
							<li class="divider-vertical"></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li class="divider"></li>
									<li><a href="#">Separated link</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- /.nav-collapse -->
				</div>
			</div><!-- /navbar-inner -->
		</div>
		<!--end top-page-menu-->
		<header id="mainhead">
			<div class="container clearfix" id="header-wrapper">
				<div id="header">
					<div class="header section" id="blog-title"><div class="widget Header" id="Header1">
						<div id="header-inner">
							<div class="titlewrapper">
								<h1 class="title">
									Bootstrap Blogger Template Demo
								</h1>
							</div>
							<div class="descriptionwrapper">
								<p class="description"><span>Yes It is</span></p>
							</div>
						</div>
					</div></div>
				</div>
				<div id="top-ad">
					<div class="top-ad section" id="top-ad"></div>
				</div>
			</div>
		</header>
		<!-- END Header -->
		<div class="container" id="container">
			<div class="row">
				<div class="span8 clearfix">
					<div class="main section" id="main"><div class="widget Blog" id="Blog2">
						<div class="blog-posts hfeed">
							<!-- google_ad_section_start(name=default) -->

							<div class="date-outer">
								
								<h3 class="date-header"><span>Wednesday, 23 May 2012</span></h3>

								<div class="date-posts">
									
									<div class="post-outer">
										<div class="post hentry" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
											<meta content="8331608933109255560" itemprop="blogId">
											<meta content="1734246235155184003" itemprop="postId">
											<a name="1734246235155184003"></a>
											<h2 class="post-title entry-title">
												<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-out-image.html">A post with out image</a>
											</h2>
											<div class="post-header">
												<div class="post-header-line-1"></div>
												<span class="post-comment-link">
													<a class="comment-link" href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-out-image.html#comment-form" onclick="">
														2 comments:
													</a>
												</span>
												<span class="post-author vcard">
													Posted by
													<span class="fn">Admin</span>
												</span>
												<span class="post-timestamp">
													at
													<a class="timestamp-link" href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-out-image.html" rel="bookmark" title="permanent link"><abbr class="published" title="2012-05-23T22:03:00-07:00">22:03</abbr></a>
												</span>
												<span class="post-labels">
													Labels:
													<a class="label label-success" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label1" rel="tag">Label1</a>,
													<a class="label label-success" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label2" rel="tag">Label2</a>
												</span>
											</div>
											<div id="summary1734246235155184003"><div>
												A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post with out ima...</div></div>
												<script type="text/javascript">
												createSummaryAndThumb("summary1734246235155184003");
												</script>
												<div style="clear: both;"></div>
												<span class="btn rmlink"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-out-image.html">Read More</a></span>
												<div class="post-footer">
													<div class="post-footer-line post-footer-line-1">
														<span class="post-icons">
															<span class="item-control blog-admin pid-1928928666">
																<a href="http://www.blogger.com/post-edit.g?blogID=8331608933109255560&amp;postID=1734246235155184003&amp;from=pencil" title="Edit Post">
																	<img alt="" class="icon-action" height="18" src="http://img2.blogblog.com/img/icon18_edit_allbkg.gif" width="18">
																</a>
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="post-outer">
											<div class="post hentry" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
												<meta content="http://1.bp.blogspot.com/-AeZ2PfdHMP8/T7zUFkp4ZDI/AAAAAAAAAck/NKQEadYbNg8/s320/Business+Computer.jpg" itemprop="image_url">
												<meta content="8331608933109255560" itemprop="blogId">
												<meta content="4770072648449787638" itemprop="postId">
												<a name="4770072648449787638"></a>
												<h2 class="post-title entry-title">
													<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html">Pinterest blogger template</a>
												</h2>
												<div class="post-header">
													<div class="post-header-line-1"></div>
													<span class="post-comment-link">
														<a class="comment-link" href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html#comment-form" onclick="">
															No comments:
														</a>
													</span>
													<span class="post-author vcard">
														Posted by
														<span class="fn">Admin</span>
													</span>
													<span class="post-timestamp">
														at
														<a class="timestamp-link" href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html" rel="bookmark" title="permanent link"><abbr class="published" title="2012-05-23T21:45:00-07:00">21:45</abbr></a>
													</span>
													<span class="post-labels">
														Labels:
														<a class="label label-success" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label1" rel="tag">Label1</a>,
														<a class="label label-success" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label2" rel="tag">Label2</a>
													</span>
												</div>
												<div id="summary4770072648449787638"><span class="thumbnail" style="float:left; margin-right: 10px;"><img src="http://1.bp.blogspot.com/-AeZ2PfdHMP8/T7zUFkp4ZDI/AAAAAAAAAck/NKQEadYbNg8/s320/Business+Computer.jpg" width="300px" height="200px"></span><div>
													Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed convallis orci. Duis libero orci, pretium a, convallis quis, pellentesque a, dolor. Curabitur vitae nisi non dolor vestibulum consequat. Proin vestibulum....</div></div>
													<script type="text/javascript">
													createSummaryAndThumb("summary4770072648449787638");
													</script>
													<div style="clear: both;"></div>
													<span class="btn rmlink"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html">Read More</a></span>
													<div class="post-footer">
														<div class="post-footer-line post-footer-line-1">
															<span class="post-icons">
																<span class="item-control blog-admin pid-1928928666">
																	<a href="http://www.blogger.com/post-edit.g?blogID=8331608933109255560&amp;postID=4770072648449787638&amp;from=pencil" title="Edit Post">
																		<img alt="" class="icon-action" height="18" src="http://img2.blogblog.com/img/icon18_edit_allbkg.gif" width="18">
																	</a>
																</span>
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="post-outer">
												<div class="post hentry" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
													<meta content="http://3.bp.blogspot.com/-Wkl5cENLsFY/T8R8w_s5MPI/AAAAAAAAAe0/lUrUNx3dkIM/s320/alfa_romeo_mito_maserati-1440x900.jpg" itemprop="image_url">
													<meta content="8331608933109255560" itemprop="blogId">
													<meta content="8289340414617312494" itemprop="postId">
													<a name="8289340414617312494"></a>
													<h2 class="post-title entry-title">
														<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html">Pinterest Blogger Template</a>
													</h2>
													<div class="post-header">
														<div class="post-header-line-1"></div>
														<span class="post-comment-link">
															<a class="comment-link" href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html#comment-form" onclick="">
																2 comments:
															</a>
														</span>
														<span class="post-author vcard">
															Posted by
															<span class="fn">Admin</span>
														</span>
														<span class="post-timestamp">
															at
															<a class="timestamp-link" href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html" rel="bookmark" title="permanent link"><abbr class="published" title="2012-05-23T21:45:00-07:00">21:45</abbr></a>
														</span>
														<span class="post-labels">
															Labels:
															<a class="label label-success" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label1" rel="tag">Label1</a>,
															<a class="label label-success" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label2" rel="tag">Label2</a>
														</span>
													</div>
													<div id="summary8289340414617312494"><span class="thumbnail" style="float:left; margin-right: 10px;"><img src="http://3.bp.blogspot.com/-Wkl5cENLsFY/T8R8w_s5MPI/AAAAAAAAAe0/lUrUNx3dkIM/s320/alfa_romeo_mito_maserati-1440x900.jpg" width="300px" height="200px"></span><div>
														Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed convallis orci. Duis libero orci, pretium a, convallis quis, pellentesque a, dolor. Curabitur vitae nisi non dolor vestibulum consequat.Proin vestibulum....</div></div>
														<script type="text/javascript">
														createSummaryAndThumb("summary8289340414617312494");
														</script>
														<div style="clear: both;"></div>
														<span class="btn rmlink"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html">Read More</a></span>
														<div class="post-footer">
															<div class="post-footer-line post-footer-line-1">
																<span class="post-icons">
																	<span class="item-control blog-admin pid-1928928666">
																		<a href="http://www.blogger.com/post-edit.g?blogID=8331608933109255560&amp;postID=8289340414617312494&amp;from=pencil" title="Edit Post">
																			<img alt="" class="icon-action" height="18" src="http://img2.blogblog.com/img/icon18_edit_allbkg.gif" width="18">
																		</a>
																	</span>
																</span>
															</div>
														</div>
													</div>
												</div>
												<div class="post-outer">
													<div class="post hentry" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
														<meta content="http://3.bp.blogspot.com/-7LsbRGTfELo/T8R9KtJ9ZgI/AAAAAAAAAe8/NQVkJFXwy9Y/s1600/droid-tablet.jpg" itemprop="image_url">
														<meta content="8331608933109255560" itemprop="blogId">
														<meta content="7279857877649574246" itemprop="postId">
														<a name="7279857877649574246"></a>
														<h2 class="post-title entry-title">
															<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/second-post-with-every-thing.html">Second Post with every thing</a>
														</h2>
														<div class="post-header">
															<div class="post-header-line-1"></div>
															<span class="post-comment-link">
																<a class="comment-link" href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/second-post-with-every-thing.html#comment-form" onclick="">
																	No comments:
																</a>
															</span>
															<span class="post-author vcard">
																Posted by
																<span class="fn">Admin</span>
															</span>
															<span class="post-timestamp">
																at
																<a class="timestamp-link" href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/second-post-with-every-thing.html" rel="bookmark" title="permanent link"><abbr class="published" title="2012-05-23T05:15:00-07:00">05:15</abbr></a>
															</span>
															<span class="post-labels">
																Labels:
																<a class="label label-success" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label1" rel="tag">Label1</a>,
																<a class="label label-success" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label2" rel="tag">Label2</a>
															</span>
														</div>
														<div id="summary7279857877649574246"><span class="thumbnail" style="float:left; margin-right: 10px;"><img src="http://3.bp.blogspot.com/-7LsbRGTfELo/T8R9KtJ9ZgI/AAAAAAAAAe8/NQVkJFXwy9Y/s1600/droid-tablet.jpg" width="300px" height="200px"></span><div>
															Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed convallis orci. Duis libero orci, pretium a, convallis quis, pellentesque a, dolor. Curabitur vitae nisi non dolor vestibulum consequat. Proin vestibulum....</div></div>
															<script type="text/javascript">
															createSummaryAndThumb("summary7279857877649574246");
															</script>
															<div style="clear: both;"></div>
															<span class="btn rmlink"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/second-post-with-every-thing.html">Read More</a></span>
															<div class="post-footer">
																<div class="post-footer-line post-footer-line-1">
																	<span class="post-icons">
																		<span class="item-control blog-admin pid-1928928666">
																			<a href="http://www.blogger.com/post-edit.g?blogID=8331608933109255560&amp;postID=7279857877649574246&amp;from=pencil" title="Edit Post">
																				<img alt="" class="icon-action" height="18" src="http://img2.blogblog.com/img/icon18_edit_allbkg.gif" width="18">
																			</a>
																		</span>
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="post-outer">
														<div class="post hentry" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
															<meta content="http://4.bp.blogspot.com/-bmdLOeHmpvg/T8R-DAuMLbI/AAAAAAAAAfE/EmLwJXxI_xk/s400/Love_hearts_picture_011170_.jpg" itemprop="image_url">
															<meta content="8331608933109255560" itemprop="blogId">
															<meta content="1674996584366240125" itemprop="postId">
															<a name="1674996584366240125"></a>
															<h2 class="post-title entry-title">
																<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing.html">A post with every thing</a>
															</h2>
															<div class="post-header">
																<div class="post-header-line-1"></div>
																<span class="post-comment-link">
																	<a class="comment-link" href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing.html#comment-form" onclick="">
																		5 comments:
																	</a>
																</span>
																<span class="post-author vcard">
																	Posted by
																	<span class="fn">Admin</span>
																</span>
																<span class="post-timestamp">
																	at
																	<a class="timestamp-link" href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing.html" rel="bookmark" title="permanent link"><abbr class="published" title="2012-05-23T05:15:00-07:00">05:15</abbr></a>
																</span>
																<span class="post-labels">
																	Labels:
																	<a class="label label-success" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label1" rel="tag">Label1</a>,
																	<a class="label label-success" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label2" rel="tag">Label2</a>
																</span>
															</div>
															<div id="summary1674996584366240125"><span class="thumbnail" style="float:left; margin-right: 10px;"><img src="http://4.bp.blogspot.com/-bmdLOeHmpvg/T8R-DAuMLbI/AAAAAAAAAfE/EmLwJXxI_xk/s400/Love_hearts_picture_011170_.jpg" width="300px" height="200px"></span><div>
																Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed convallis orci. Duis libero orci, pretium a, convallis quis, pellentesque a, dolor. Curabitur vitae nisi non dolor vestibulum consequat. Proin vestibulum....</div></div>
																<script type="text/javascript">
																createSummaryAndThumb("summary1674996584366240125");
																</script>
																<div style="clear: both;"></div>
																<span class="btn rmlink"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing.html">Read More</a></span>
																<div class="post-footer">
																	<div class="post-footer-line post-footer-line-1">
																		<span class="post-icons">
																			<span class="item-control blog-admin pid-1928928666">
																				<a href="http://www.blogger.com/post-edit.g?blogID=8331608933109255560&amp;postID=1674996584366240125&amp;from=pencil" title="Edit Post">
																					<img alt="" class="icon-action" height="18" src="http://img2.blogblog.com/img/icon18_edit_allbkg.gif" width="18">
																				</a>
																			</span>
																		</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="post-outer">
															<div class="post hentry" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
																<meta content="http://1.bp.blogspot.com/-LZYY6PgXjsA/T8SOCmMeqQI/AAAAAAAAAfc/s41Xf8j6hss/s640/red_rose_4-1280x1024+(1).jpg" itemprop="image_url">
																<meta content="8331608933109255560" itemprop="blogId">
																<meta content="2721594196293295298" itemprop="postId">
																<a name="2721594196293295298"></a>
																<h2 class="post-title entry-title">
																	<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing_23.html">A post With Every thing</a>
																</h2>
																<div class="post-header">
																	<div class="post-header-line-1"></div>
																	<span class="post-comment-link">
																		<a class="comment-link" href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing_23.html#comment-form" onclick="">
																			No comments:
																		</a>
																	</span>
																	<span class="post-author vcard">
																		Posted by
																		<span class="fn">Admin</span>
																	</span>
																	<span class="post-timestamp">
																		at
																		<a class="timestamp-link" href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing_23.html" rel="bookmark" title="permanent link"><abbr class="published" title="2012-05-23T05:13:00-07:00">05:13</abbr></a>
																	</span>
																	<span class="post-labels">
																		Labels:
																		<a class="label label-success" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label1" rel="tag">Label1</a>,
																		<a class="label label-success" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label2" rel="tag">Label2</a>
																	</span>
																</div>
																<div id="summary2721594196293295298"><span class="thumbnail" style="float:left; margin-right: 10px;"><img src="http://1.bp.blogspot.com/-LZYY6PgXjsA/T8SOCmMeqQI/AAAAAAAAAfc/s41Xf8j6hss/s640/red_rose_4-1280x1024+(1).jpg" width="300px" height="200px"></span><div>
																	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed convallis orci. Duis libero orci, pretium a, convallis quis, pellentesque a, dolor. Curabitur vitae nisi non dolor vestibulum consequat. Proin vestibulum....</div></div>
																	<script type="text/javascript">
																	createSummaryAndThumb("summary2721594196293295298");
																	</script>
																	<div style="clear: both;"></div>
																	<span class="btn rmlink"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing_23.html">Read More</a></span>
																	<div class="post-footer">
																		<div class="post-footer-line post-footer-line-1">
																			<span class="post-icons">
																				<span class="item-control blog-admin pid-1928928666">
																					<a href="http://www.blogger.com/post-edit.g?blogID=8331608933109255560&amp;postID=2721594196293295298&amp;from=pencil" title="Edit Post">
																						<img alt="" class="icon-action" height="18" src="http://img2.blogblog.com/img/icon18_edit_allbkg.gif" width="18">
																					</a>
																				</span>
																			</span>
																		</div>
																	</div>
																</div>
															</div>
															<div class="post-outer">
																<div class="post hentry" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
																	<meta content="http://1.bp.blogspot.com/-AeZ2PfdHMP8/T7zUFkp4ZDI/AAAAAAAAAck/NKQEadYbNg8/s320/Business+Computer.jpg" itemprop="image_url">
																	<meta content="8331608933109255560" itemprop="blogId">
																	<meta content="8412286255076277061" itemprop="postId">
																	<a name="8412286255076277061"></a>
																	<h2 class="post-title entry-title">
																		<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/donec-scele-risque-susc-ipit-nisl-sit.html">Donec scele risque susc ipit nisl sit amet phare</a>
																	</h2>
																	<div class="post-header">
																		<div class="post-header-line-1"></div>
																		<span class="post-comment-link">
																			<a class="comment-link" href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/donec-scele-risque-susc-ipit-nisl-sit.html#comment-form" onclick="">
																				No comments:
																			</a>
																		</span>
																		<span class="post-author vcard">
																			Posted by
																			<span class="fn">Admin</span>
																		</span>
																		<span class="post-timestamp">
																			at
																			<a class="timestamp-link" href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/donec-scele-risque-susc-ipit-nisl-sit.html" rel="bookmark" title="permanent link"><abbr class="published" title="2012-05-23T05:12:00-07:00">05:12</abbr></a>
																		</span>
																		<span class="post-labels">
																			Labels:
																			<a class="label label-success" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label1" rel="tag">Label1</a>,
																			<a class="label label-success" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label2" rel="tag">Label2</a>
																		</span>
																	</div>
																	<div id="summary8412286255076277061"><span class="thumbnail" style="float:left; margin-right: 10px;"><img src="http://1.bp.blogspot.com/-AeZ2PfdHMP8/T7zUFkp4ZDI/AAAAAAAAAck/NKQEadYbNg8/s320/Business+Computer.jpg" width="300px" height="200px"></span><div>
																		Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Sed id purus sed justo eleifend euismod eget auctor eros. Praesent laoreet volutpat felis eu posuere. Aenean in nulla nisl, vel gravida tellus. In hac habitasse platea dictumst. Aliquam semper justo sed felis tristique aliquet....</div></div>
																		<script type="text/javascript">
																		createSummaryAndThumb("summary8412286255076277061");
																		</script>
																		<div style="clear: both;"></div>
																		<span class="btn rmlink"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/donec-scele-risque-susc-ipit-nisl-sit.html">Read More</a></span>
																		<div class="post-footer">
																			<div class="post-footer-line post-footer-line-1">
																				<span class="post-icons">
																					<span class="item-control blog-admin pid-1928928666">
																						<a href="http://www.blogger.com/post-edit.g?blogID=8331608933109255560&amp;postID=8412286255076277061&amp;from=pencil" title="Edit Post">
																							<img alt="" class="icon-action" height="18" src="http://img2.blogblog.com/img/icon18_edit_allbkg.gif" width="18">
																						</a>
																					</span>
																				</span>
																			</div>
																		</div>
																	</div>
																</div>

															</div></div>
															
															<!-- google_ad_section_end -->
														</div>
														<div class="blog-pager" id="blog-pager">
															<a class="home-link btn" href="http://bootstrapbloggertemplate.blogspot.com.br/">Home</a>
														</div>
														<div class="clear"></div>
														<div class="blog-feeds">
															<div class="feed-links">
																Subscribe to:
																<a class="feed-link" href="http://bootstrapbloggertemplate.blogspot.com/feeds/posts/default" target="_blank" type="application/atom+xml">Posts (Atom)</a>
															</div>
														</div>
														<script type="text/javascript">window.___gcfg = {'lang': 'en_GB'};</script>
													</div></div>
													<!-- END Loop -->
												</div>
												<!-- END Content -->
												<div class="span4">
													<div class="sidebox">
														<div class="sidebar section" id="sidebar"><div class="widget HTML" id="HTML2">
															<h2 class="title">Join our Email List</h2>
															<div class="widget-content">
																<form action="http://feedburner.google.com/fb/a/mailverify" method="post" onsubmit="window.open(&quot;http://feedburner.google.com/fb/a/mailverify?uri=skyafar&quot;, &quot;popupwindow&quot;, &quot;scrollbars=yes,width=550,height=520&quot;); return true" target="popupwindow">
																	<input class="input-large" name="email" placeholder="Email address..." type="text" style="margin-bottom:0;">
																	<input class="btn" type="submit" value="Submit">
																	<input name="uri" type="hidden" value="skyafar">
																	<input name="loc" type="hidden" value="en_US">
																</form>
															</div>
															<div class="clear"></div>
															<span class="widget-item-control">
																<span class="item-control blog-admin">
																	<a class="quickedit" href="//www.blogger.com/rearrange?blogID=8331608933109255560&amp;widgetType=HTML&amp;widgetId=HTML2&amp;action=editWidget&amp;sectionId=sidebar" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML2&quot;));" target="configHTML2" title="Edit">
																		<img alt="" height="18" src="http://img1.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
																	</a>
																</span>
															</span>
															<div class="clear"></div>
														</div><div class="widget HTML" id="HTML1">
														<h2 class="title">Search</h2>
														<div class="widget-content">
															<form class="form-search" action="/search">
																<input type="text" class="input-medium search-query" name="q">
																<button type="submit" class="btn">Search</button>
															</form>
														</div>
														<div class="clear"></div>
														<span class="widget-item-control">
															<span class="item-control blog-admin">
																<a class="quickedit" href="//www.blogger.com/rearrange?blogID=8331608933109255560&amp;widgetType=HTML&amp;widgetId=HTML1&amp;action=editWidget&amp;sectionId=sidebar" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML1&quot;));" target="configHTML1" title="Edit">
																	<img alt="" height="18" src="http://img1.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
																</a>
															</span>
														</span>
														<div class="clear"></div>
													</div><div class="widget HTML" id="HTML3">
													<h2 class="title">like us on facebook</h2>
													<div class="widget-content">
														<div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="f131158ce8" frameborder="0" allowtransparency="true" scrolling="no" src="https://www.facebook.com/connect/ping?client_id=346685832099704&amp;domain=bootstrapbloggertemplate.blogspot.com.br&amp;origin=1&amp;redirect_uri=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D27%23cb%3Df8bf70984%26domain%3Dbootstrapbloggertemplate.blogspot.com.br%26origin%3Dhttp%253A%252F%252Fbootstrapbloggertemplate.blogspot.com.br%252Ff3bbdf33b8%26relation%3Dparent&amp;response_type=token%2Csigned_request%2Ccode&amp;sdk=joey" style="display: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" src="http://static.ak.facebook.com/connect/xd_arbiter.php?version=27#channel=f3bbdf33b8&amp;channel_path=%2F%3Ffb_xd_fragment%23xd_sig%3Df18aebfc8c%26&amp;origin=http%3A%2F%2Fbootstrapbloggertemplate.blogspot.com.br" style="border: none;"></iframe><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" src="https://s-static.ak.facebook.com/connect/xd_arbiter.php?version=27#channel=f3bbdf33b8&amp;channel_path=%2F%3Ffb_xd_fragment%23xd_sig%3Df18aebfc8c%26&amp;origin=http%3A%2F%2Fbootstrapbloggertemplate.blogspot.com.br" style="border: none;"></iframe></div></div></div>
														<script>(function(d, s, id) {
															var js, fjs = d.getElementsByTagName(s)[0];
															if (d.getElementById(id)) return;
															js = d.createElement(s); js.id = id;
															js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=346685832099704";
															fjs.parentNode.insertBefore(js, fjs);
														}(document, 'script', 'facebook-jssdk'));</script>
														<div style="borser:1px solid #ddd;text-align:center;"><div class="fb-like-box fb_iframe_widget" data-href="http://www.facebook.com/skyafar" data-width="300" data-height="300" data-show-faces="true" data-stream="false" data-show-border="true" data-header="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=346685832099704&amp;header=false&amp;height=300&amp;href=http%3A%2F%2Fwww.facebook.com%2Fskyafar&amp;locale=en_US&amp;sdk=joey&amp;show_border=true&amp;show_faces=true&amp;stream=false&amp;width=300"><span style="vertical-align: bottom; width: 300px; height: 300px;"><iframe name="f101e5e96c" width="300px" height="300px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like_box Facebook Social Plugin" src="http://www.facebook.com/plugins/like_box.php?app_id=346685832099704&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D27%23cb%3Dfa28abca8%26domain%3Dbootstrapbloggertemplate.blogspot.com.br%26origin%3Dhttp%253A%252F%252Fbootstrapbloggertemplate.blogspot.com.br%252Ff3bbdf33b8%26relation%3Dparent.parent&amp;header=false&amp;height=300&amp;href=http%3A%2F%2Fwww.facebook.com%2Fskyafar&amp;locale=en_US&amp;sdk=joey&amp;show_border=true&amp;show_faces=true&amp;stream=false&amp;width=300" style="border: none; visibility: visible; width: 300px; height: 300px;" class=""></iframe></span></div></div>
													</div>
													<div class="clear"></div>
													<span class="widget-item-control">
														<span class="item-control blog-admin">
															<a class="quickedit" href="//www.blogger.com/rearrange?blogID=8331608933109255560&amp;widgetType=HTML&amp;widgetId=HTML3&amp;action=editWidget&amp;sectionId=sidebar" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML3&quot;));" target="configHTML3" title="Edit">
																<img alt="" height="18" src="http://img1.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
															</a>
														</span>
													</span>
													<div class="clear"></div>
												</div><div class="widget PopularPosts" id="PopularPosts1">
												<h2>Popular Posts</h2>
												<div class="widget-content popular-posts">
													<ul>
														<li>
															<div class="item-content">
																<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-out-image.html">A post with out image</a></div>
																<div class="item-snippet">A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post w...</div>
															</div>
															<div style="clear: both;"></div>
														</li>
														<li>
															<div class="item-content">
																<div class="item-thumbnail">
																	<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html" target="_blank">
																		<img alt="" border="0" height="72" src="http://1.bp.blogspot.com/-AeZ2PfdHMP8/T7zUFkp4ZDI/AAAAAAAAAck/NKQEadYbNg8/s72-c/Business+Computer.jpg" width="72">
																	</a>
																</div>
																<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html">Pinterest blogger template</a></div>
																<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
															</div>
															<div style="clear: both;"></div>
														</li>
														<li>
															<div class="item-content">
																<div class="item-thumbnail">
																	<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html" target="_blank">
																		<img alt="" border="0" height="72" src="http://3.bp.blogspot.com/-Wkl5cENLsFY/T8R8w_s5MPI/AAAAAAAAAe0/lUrUNx3dkIM/s72-c/alfa_romeo_mito_maserati-1440x900.jpg" width="72">
																	</a>
																</div>
																<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html">Pinterest Blogger Template</a></div>
																<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
															</div>
															<div style="clear: both;"></div>
														</li>
														<li>
															<div class="item-content">
																<div class="item-thumbnail">
																	<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing.html" target="_blank">
																		<img alt="" border="0" height="72" src="http://4.bp.blogspot.com/-bmdLOeHmpvg/T8R-DAuMLbI/AAAAAAAAAfE/EmLwJXxI_xk/s72-c/Love_hearts_picture_011170_.jpg" width="72">
																	</a>
																</div>
																<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing.html">A post with every thing</a></div>
																<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
															</div>
															<div style="clear: both;"></div>
														</li>
														<li>
															<div class="item-content">
																<div class="item-thumbnail">
																	<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/second-post-with-every-thing.html" target="_blank">
																		<img alt="" border="0" height="72" src="http://3.bp.blogspot.com/-7LsbRGTfELo/T8R9KtJ9ZgI/AAAAAAAAAe8/NQVkJFXwy9Y/s72-c/droid-tablet.jpg" width="72">
																	</a>
																</div>
																<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/second-post-with-every-thing.html">Second Post with every thing</a></div>
																<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
															</div>
															<div style="clear: both;"></div>
														</li>
														<li>
															<div class="item-content">
																<div class="item-thumbnail">
																	<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/donec-scele-risque-susc-ipit-nisl-sit.html" target="_blank">
																		<img alt="" border="0" height="72" src="http://1.bp.blogspot.com/-AeZ2PfdHMP8/T7zUFkp4ZDI/AAAAAAAAAck/NKQEadYbNg8/s72-c/Business+Computer.jpg" width="72">
																	</a>
																</div>
																<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/donec-scele-risque-susc-ipit-nisl-sit.html">Donec scele risque susc ipit nisl sit amet phare</a></div>
																<div class="item-snippet">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Sed id purus sed justo eleifend euismod eget auctor eros. Praesent laoreet volutpa...</div>
															</div>
															<div style="clear: both;"></div>
														</li>
														<li>
															<div class="item-content">
																<div class="item-thumbnail">
																	<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing_23.html" target="_blank">
																		<img alt="" border="0" height="72" src="http://1.bp.blogspot.com/-LZYY6PgXjsA/T8SOCmMeqQI/AAAAAAAAAfc/s41Xf8j6hss/s72-c/red_rose_4-1280x1024+(1).jpg" width="72">
																	</a>
																</div>
																<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing_23.html">A post With Every thing</a></div>
																<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
															</div>
															<div style="clear: both;"></div>
														</li>
													</ul>
													<div class="clear"></div>
													<span class="widget-item-control">
														<span class="item-control blog-admin">
															<a class="quickedit" href="//www.blogger.com/rearrange?blogID=8331608933109255560&amp;widgetType=PopularPosts&amp;widgetId=PopularPosts1&amp;action=editWidget&amp;sectionId=sidebar" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;PopularPosts1&quot;));" target="configPopularPosts1" title="Edit">
																<img alt="" height="18" src="http://img1.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
															</a>
														</span>
													</span>
													<div class="clear"></div>
												</div>
											</div><div class="widget Label" id="Label1">
											<h2>Tags</h2>
											<div class="widget-content">
												<ul>
													<li>
														<a dir="ltr" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label1">Label1</a>
													</li>
													<li>
														<a dir="ltr" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label2">Label2</a>
													</li>
												</ul>
												<div class="clear"></div>
												<span class="widget-item-control">
													<span class="item-control blog-admin">
														<a class="quickedit" href="//www.blogger.com/rearrange?blogID=8331608933109255560&amp;widgetType=Label&amp;widgetId=Label1&amp;action=editWidget&amp;sectionId=sidebar" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;Label1&quot;));" target="configLabel1" title="Edit">
															<img alt="" height="18" src="http://img1.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
														</a>
													</span>
												</span>
												<div class="clear"></div>
											</div>
										</div></div>
									</div>
								</div>
							</div>
						</div>
						<!-- END Container -->
						<div id="footer">
							<div class="container">
								<div class="row">
									<div class="span3">
										<div class="lowerbar section" id="lowerbar1"><div class="widget Label" id="Label3">
											<h2>Labels</h2>
											<div class="widget-content list-label-widget-content">
												<ul>
													<li>
														<a dir="ltr" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label1">Label1</a>
														<span dir="ltr">(7)</span>
													</li>
													<li>
														<a dir="ltr" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label2">Label2</a>
														<span dir="ltr">(7)</span>
													</li>
												</ul>
												<div class="clear"></div>
												<span class="widget-item-control">
													<span class="item-control blog-admin">
														<a class="quickedit" href="//www.blogger.com/rearrange?blogID=8331608933109255560&amp;widgetType=Label&amp;widgetId=Label3&amp;action=editWidget&amp;sectionId=lowerbar1" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;Label3&quot;));" target="configLabel3" title="Edit">
															<img alt="" height="18" src="http://img1.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
														</a>
													</span>
												</span>
												<div class="clear"></div>
											</div>
										</div></div>
									</div>
									<div class="span3">
										<div class="lowerbar section" id="lowerbar2"><div class="widget Profile" id="Profile1">
											<h2>About Me</h2>
											<div class="widget-content">
												<a href="http://www.blogger.com/profile/12167090875086562485"><img alt="My Photo" class="profile-img" height="80" src="http://1.bp.blogspot.com/-91zSHUoVNKY/Ubvr_ZZ-m_I/AAAAAAAABfk/GeyPCL_QulM/s1600/531509_448311445200958_1768760710_n.jpg" width="77"></a>
												<dl class="profile-datablock">
													<dt class="profile-data">
														<a class="profile-name-link g-profile" href="http://www.blogger.com/profile/12167090875086562485" rel="author" style="background-image: url(//www.blogger.com/img/logo-16.png);" data-gapiscan="true" data-onload="true" data-gapiattached="true">
															Admin
														</a>
													</dt>
													<dd class="profile-textblock">I am Ramnadh, I love to write about latest technologies and Blogging. </dd>
												</dl>
												<a class="profile-link" href="http://www.blogger.com/profile/12167090875086562485" rel="author">View my complete profile</a>
												<div class="clear"></div>
												<span class="widget-item-control">
													<span class="item-control blog-admin">
														<a class="quickedit" href="//www.blogger.com/rearrange?blogID=8331608933109255560&amp;widgetType=Profile&amp;widgetId=Profile1&amp;action=editWidget&amp;sectionId=lowerbar2" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;Profile1&quot;));" target="configProfile1" title="Edit">
															<img alt="" height="18" src="http://img1.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
														</a>
													</span>
												</span>
												<div class="clear"></div>
											</div>
										</div></div>
									</div>
									<div class="span3">
										<div class="lowerbar section" id="lowerbar3"><div class="widget PopularPosts" id="PopularPosts3">
											<h2>Popular Posts</h2>
											<div class="widget-content popular-posts">
												<ul>
													<li>
														<div class="item-content">
															<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-out-image.html">A post with out image</a></div>
															<div class="item-snippet">A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post w...</div>
														</div>
														<div style="clear: both;"></div>
													</li>
													<li>
														<div class="item-content">
															<div class="item-thumbnail">
																<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html" target="_blank">
																	<img alt="" border="0" height="72" src="http://1.bp.blogspot.com/-AeZ2PfdHMP8/T7zUFkp4ZDI/AAAAAAAAAck/NKQEadYbNg8/s72-c/Business+Computer.jpg" width="72">
																</a>
															</div>
															<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html">Pinterest blogger template</a></div>
															<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
														</div>
														<div style="clear: both;"></div>
													</li>
													<li>
														<div class="item-content">
															<div class="item-thumbnail">
																<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html" target="_blank">
																	<img alt="" border="0" height="72" src="http://3.bp.blogspot.com/-Wkl5cENLsFY/T8R8w_s5MPI/AAAAAAAAAe0/lUrUNx3dkIM/s72-c/alfa_romeo_mito_maserati-1440x900.jpg" width="72">
																</a>
															</div>
															<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html">Pinterest Blogger Template</a></div>
															<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
														</div>
														<div style="clear: both;"></div>
													</li>
												</ul>
												<div class="clear"></div>
												<span class="widget-item-control">
													<span class="item-control blog-admin">
														<a class="quickedit" href="//www.blogger.com/rearrange?blogID=8331608933109255560&amp;widgetType=PopularPosts&amp;widgetId=PopularPosts3&amp;action=editWidget&amp;sectionId=lowerbar3" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;PopularPosts3&quot;));" target="configPopularPosts3" title="Edit">
															<img alt="" height="18" src="http://img1.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
														</a>
													</span>
												</span>
												<div class="clear"></div>
											</div>
										</div></div>
									</div>
									<div class="span3">
										<div class="lowerbar section" id="lowerbar4"><div class="widget PopularPosts" id="PopularPosts2">
											<h2>Popular Posts</h2>
											<div class="widget-content popular-posts">
												<ul>
													<li>
														<div class="item-content">
															<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-out-image.html">A post with out image</a></div>
															<div class="item-snippet">A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post w...</div>
														</div>
														<div style="clear: both;"></div>
													</li>
													<li>
														<div class="item-content">
															<div class="item-thumbnail">
																<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html" target="_blank">
																	<img alt="" border="0" height="72" src="http://1.bp.blogspot.com/-AeZ2PfdHMP8/T7zUFkp4ZDI/AAAAAAAAAck/NKQEadYbNg8/s72-c/Business+Computer.jpg" width="72">
																</a>
															</div>
															<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html">Pinterest blogger template</a></div>
															<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
														</div>
														<div style="clear: both;"></div>
													</li>
													<li>
														<div class="item-content">
															<div class="item-thumbnail">
																<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html" target="_blank">
																	<img alt="" border="0" height="72" src="http://3.bp.blogspot.com/-Wkl5cENLsFY/T8R8w_s5MPI/AAAAAAAAAe0/lUrUNx3dkIM/s72-c/alfa_romeo_mito_maserati-1440x900.jpg" width="72">
																</a>
															</div>
															<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html">Pinterest Blogger Template</a></div>
															<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
														</div>
														<div style="clear: both;"></div>
													</li>
												</ul>
												<div class="clear"></div>
												<span class="widget-item-control">
													<span class="item-control blog-admin">
														<a class="quickedit" href="//www.blogger.com/rearrange?blogID=8331608933109255560&amp;widgetType=PopularPosts&amp;widgetId=PopularPosts2&amp;action=editWidget&amp;sectionId=lowerbar4" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;PopularPosts2&quot;));" target="configPopularPosts2" title="Edit">
															<img alt="" height="18" src="http://img1.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
														</a>
													</span>
												</span>
												<div class="clear"></div>
											</div>
										</div></div>
									</div>
								</div>
							</div>
							<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js?ver=1.7.2" type="text/javascript"></script>
							<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
							<p class="footer-link">  <a href="http://bootstrapbloggertemplate.blogspot.com.br/"><strong>Bootstrap Blogger Template Demo</strong></a> 2013 . Powered by <a href="http://bootstrap.slugs.in" rel="nofollow" title="Bootstrap Blogger Templates">Bootstrap Blogger Templates</a></p>
						</div><!-- END Footer -->
						<script type="text/javascript">
						if (window.jstiming) window.jstiming.load.tick('widgetJsBefore');
					</script><script type="text/javascript" src="//www.blogger.com/static/v1/widgets/2178715077-widgets.js"></script>
					<script type="text/javascript" src="https://apis.google.com/js/plusone.js" gapi_processed="true"></script>
					<script type="text/javascript">
					if (typeof(BLOG_attachCsiOnload) != 'undefined' && BLOG_attachCsiOnload != null) { window['blogger_templates_experiment_id'] = "templatesV1";window['blogger_blog_id'] = '8331608933109255560';BLOG_attachCsiOnload(''); }_WidgetManager._Init('//www.blogger.com/rearrange?blogID\x3d8331608933109255560','//bootstrapbloggertemplate.blogspot.com.br/','8331608933109255560');
					_WidgetManager._SetDataContext([{'name': 'blog', 'data': {'blogId': '8331608933109255560', 'bloggerUrl': 'http://www.blogger.com', 'title': 'Bootstrap Blogger Template Demo', 'pageType': 'index', 'url': 'http://bootstrapbloggertemplate.blogspot.com.br/', 'canonicalUrl': 'http://bootstrapbloggertemplate.blogspot.com/', 'canonicalHomepageUrl': 'http://bootstrapbloggertemplate.blogspot.com/', 'homepageUrl': 'http://bootstrapbloggertemplate.blogspot.com.br/', 'blogspotFaviconUrl': 'http://bootstrapbloggertemplate.blogspot.com.br/favicon.ico', 'enabledCommentProfileImages': true, 'adultContent': false, 'disableAdSenseWidget': false, 'analyticsAccountNumber': '', 'searchLabel': '', 'searchQuery': '', 'pageName': '', 'pageTitle': 'Bootstrap Blogger Template Demo', 'encoding': 'UTF-8', 'locale': 'en_GB', 'localeUnderscoreDelimited': 'en_gb', 'isPrivate': false, 'isMobile': false, 'isMobileRequest': false, 'mobileClass': '', 'isPrivateBlog': false, 'languageDirection': 'ltr', 'feedLinks': '\74link rel\75\42alternate\42 type\75\42application/atom+xml\42 title\75\42Bootstrap Blogger Template Demo - Atom\42 href\75\42http://bootstrapbloggertemplate.blogspot.com/feeds/posts/default\42 /\76\n\74link rel\75\42alternate\42 type\75\42application/rss+xml\42 title\75\42Bootstrap Blogger Template Demo - RSS\42 href\75\42http://bootstrapbloggertemplate.blogspot.com/feeds/posts/default?alt\75rss\42 /\76\n\74link rel\75\42service.post\42 type\75\42application/atom+xml\42 title\75\42Bootstrap Blogger Template Demo - Atom\42 href\75\42http://www.blogger.com/feeds/8331608933109255560/posts/default\42 /\76\n', 'meTag': '', 'openIdOpTag': '\74link rel\75\42openid.server\42 href\75\42http://www.blogger.com/openid-server.g\42 /\76\n\74link rel\75\42openid.delegate\42 href\75\42http://bootstrapbloggertemplate.blogspot.com/\42 /\76\n', 'imageSrcTag': '', 'latencyHeadScript': '\74script type\75\42text/javascript\42\76(function() { var b\75window,e\75\42jstiming\42,g\75\42tick\42;(function(){function d(a){this.t\75{};this.tick\75function(a,d,c){c\75void 0!\75c?c:(new Date).getTime();this.t[a]\75[c,d]};this[g](\42start\42,null,a)}var a\75new d;b.jstiming\75{Timer:d,load:a};if(b.performance\46\46b.performance.timing){var a\75b.performance.timing,c\75b[e].load,f\75a.navigationStart,a\75a.responseStart;0\74f\46\46a\76\75f\46\46(c[g](\42_wtsrt\42,void 0,f),c[g](\42wtsrt_\42,\42_wtsrt\42,a),c[g](\42tbsd_\42,\42wtsrt_\42))}try{a\75null,b.chrome\46\46b.chrome.csi\46\46(a\75Math.floor(b.chrome.csi().pageT),c\46\0460\74f\46\46(c[g](\42_tbnd\42,void 0,b.chrome.csi().startE),\nc[g](\42tbnd_\42,\42_tbnd\42,f))),null\75\75a\46\46b.gtbExternal\46\46(a\75b.gtbExternal.pageT()),null\75\75a\46\46b.external\46\46(a\75b.external.pageT,c\46\0460\74f\46\46(c[g](\42_tbnd\42,void 0,b.external.startE),c[g](\42tbnd_\42,\42_tbnd\42,f))),a\46\46(b[e].pt\75a)}catch(l){}})();b.tickAboveFold\75function(d){var a\0750;if(d.offsetParent){do a+\75d.offsetTop;while(d\75d.offsetParent)}d\75a;750\76\75d\46\46b[e].load[g](\42aft\42)};var h\75!1;function k(){h||(h\75!0,b[e].load[g](\42firstScrollTime\42))}b.addEventListener?b.addEventListener(\42scroll\42,k,!1):b.attachEvent(\42onscroll\42,k);\n })();\74/script\076', 'mobileHeadScript': '', 'view': '', 'dynamicViewsCommentsSrc': '//www.blogblog.com/dynamicviews/4224c15c4e7c9321/js/comments.js', 'dynamicViewsScriptSrc': '//www.blogblog.com/dynamicviews/15de8d1bfc9ff1d1', 'plusOneApiSrc': 'https://apis.google.com/js/plusone.js', 'testHtml5CssSrc': '//www.blogger.com/static/v1/widgets/721438413-css_bundle_html5.css', 'sf': 'n'}}, {'name': 'skin', 'data': {'vars': {}, 'override': ''}}, {'name': 'view', 'data': {'classic': {'name': 'classic', 'url': '/?view\75classic'}, 'flipcard': {'name': 'flipcard', 'url': '/?view\75flipcard'}, 'magazine': {'name': 'magazine', 'url': '/?view\75magazine'}, 'mosaic': {'name': 'mosaic', 'url': '/?view\75mosaic'}, 'sidebar': {'name': 'sidebar', 'url': '/?view\75sidebar'}, 'snapshot': {'name': 'snapshot', 'url': '/?view\75snapshot'}, 'timeslide': {'name': 'timeslide', 'url': '/?view\75timeslide'}}}]);
					_WidgetManager._RegisterWidget('_ProfileView', new _WidgetInfo('Profile1', 'lowerbar2', null, document.getElementById('Profile1'), {}, 'displayModeFull'));
					_WidgetManager._RegisterWidget('_PopularPostsView', new _WidgetInfo('PopularPosts3', 'lowerbar3', null, document.getElementById('PopularPosts3'), {}, 'displayModeFull'));
					_WidgetManager._RegisterWidget('_PopularPostsView', new _WidgetInfo('PopularPosts2', 'lowerbar4', null, document.getElementById('PopularPosts2'), {}, 'displayModeFull'));
					_WidgetManager._RegisterWidget('_LabelView', new _WidgetInfo('Label3', 'lowerbar1', null, document.getElementById('Label3'), {}, 'displayModeFull'));
					_WidgetManager._RegisterWidget('_HTMLView', new _WidgetInfo('HTML2', 'sidebar', null, document.getElementById('HTML2'), {}, 'displayModeFull'));
					_WidgetManager._RegisterWidget('_HTMLView', new _WidgetInfo('HTML1', 'sidebar', null, document.getElementById('HTML1'), {}, 'displayModeFull'));
					_WidgetManager._RegisterWidget('_HTMLView', new _WidgetInfo('HTML3', 'sidebar', null, document.getElementById('HTML3'), {}, 'displayModeFull'));
					_WidgetManager._RegisterWidget('_PopularPostsView', new _WidgetInfo('PopularPosts1', 'sidebar', null, document.getElementById('PopularPosts1'), {}, 'displayModeFull'));
					_WidgetManager._RegisterWidget('_LabelView', new _WidgetInfo('Label1', 'sidebar', null, document.getElementById('Label1'), {}, 'displayModeFull'));
					_WidgetManager._RegisterWidget('_HeaderView', new _WidgetInfo('Header1', 'blog-title', null, document.getElementById('Header1'), {}, 'displayModeFull'));
					_WidgetManager._RegisterWidget('_BlogView', new _WidgetInfo('Blog2', 'main', null, document.getElementById('Blog2'), {'cmtInteractionsEnabled': false, 'lightboxEnabled': true, 'lightboxModuleUrl': '//www.blogger.com/static/v1/jsbin/869466255-lbx__en_gb.js', 'lightboxCssUrl': '//www.blogger.com/static/v1/v-css/4138445517-lightbox_bundle.css'}, 'displayModeFull'));
					</script>

				</body>
			</body>
			</html>






