<!--
*
*     _/_/_/_/ _/_/_/_/_/ _/_/_/_/ _/_/_/_/ _/_/_/_/_/ _/    _/ _/_/_/_/           _/  _/_/_/_/ _/_/_/_/
*    _/           _/     _/    _/ _/    _/     _/     _/    _/ _/    _/           _/  _/    _/ _/    _/
*    _/_/_/_/    _/     _/_/_/_/ _/_/_/_/     _/     _/    _/ _/_/_/_/     _/_/  _/  _/    _/ _/ _/_/
*         _/    _/     _/    _/ _/   _/      _/     _/    _/ _/           _/    _/  _/    _/ _/    _/
*  _/_/_/_/    _/     _/    _/ _/     _/    _/     _/_/_/_/ _/           _/_/_/_/  _/_/_/_/ _/_/_/_/
*
*  Startup Job
*  (C) 2013 Startup Job. All rights reserved.
*  site: www.startupjob.com.br
*  email: contato@startupjob.com.br
*
-->
<!DOCTYPE html>
<html>
<head>
	<title>Fora da Curva</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-inverse" style="position: static;">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-target=".navbar-inverse-collapse" data-toggle="collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">Home</a>
				<div class="nav-collapse collapse navbar-inverse-collapse">
					<ul class="nav">
						<li><a href="#" rel="tooltip">Sobre nós</a></li>
					</ul>

					<ul class="nav pull-right">
						
						<li class="divider-vertical"></li>
							<!-- <li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li class="divider"></li>
									<li><a href="#">Separated link</a></li>
								</ul>
							</li>
						-->						</ul>
					</div><!-- /.nav-collapse -->
				</div>
			</div><!-- /navbar-inner -->
		</div>
		<!--end top-page-menu-->
		<header id="mainhead">
			<div class="container clearfix" id="header-wrapper">
				<div id="header">
					<div class="header section" id="blog-title"><div class="widget Header" id="Header1">
						<div id="header-inner">
							<div class="titlewrapper">
								<h1 class="title">
									Programadores fora da curva
								</h1>
							</div>
							<div class="descriptionwrapper">
								<p class="description"><span>Para aqueles que entendem que fazer código é diversão</span></p>
							</div>
						</div>
					</div></div>
				</div>
				<div id="top-ad">
					<div class="top-ad section" id="top-ad"></div>
				</div>
			</div>
		</header>
		<!-- END Header -->
		<!-- START Content -->
		<%= yield %>
		<!-- END Content -->
		<div class="span4">
			<div class="sidebox">
				<div class="sidebar section" id="sidebar"><div class="widget HTML" id="HTML2">
					<h2 class="title">Receba nossas novidades</h2>
					<div class="widget-content">
						<form action="http://feedburner.google.com/fb/a/mailverify" method="post" onsubmit="window.open(&quot;http://feedburner.google.com/fb/a/mailverify?uri=skyafar&quot;, &quot;popupwindow&quot;, &quot;scrollbars=yes,width=550,height=520&quot;); return true" target="popupwindow">
							<input class="input-large" name="email" placeholder="Seu e-mail aqui" type="text" style="margin-bottom:0;">
							<input class="btn" type="submit" value="Enviar">
							<input name="uri" type="hidden" value="skyafar">
							<input name="loc" type="hidden" value="en_US">
						</form>
					</div>
					<div class="clear"></div>
				</div><div class="widget HTML" id="HTML1">
				<h2 class="title">Busca</h2>
				<div class="widget-content">
					<form class="form-search" action="/search">
						<input type="text" class="input-medium search-query" name="q">
						<button type="submit" class="btn">Buscar</button>
					</form>
				</div>
				<div class="clear"></div>
			</div><div class="widget HTML" id="HTML3">
			<h2 class="title">like us on facebook</h2>
			<div class="widget-content">
				<div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="f131158ce8" frameborder="0" allowtransparency="true" scrolling="no" src="https://www.facebook.com/connect/ping?client_id=346685832099704&amp;domain=bootstrapbloggertemplate.blogspot.com.br&amp;origin=1&amp;redirect_uri=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D27%23cb%3Df8bf70984%26domain%3Dbootstrapbloggertemplate.blogspot.com.br%26origin%3Dhttp%253A%252F%252Fbootstrapbloggertemplate.blogspot.com.br%252Ff3bbdf33b8%26relation%3Dparent&amp;response_type=token%2Csigned_request%2Ccode&amp;sdk=joey" style="display: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" src="http://static.ak.facebook.com/connect/xd_arbiter.php?version=27#channel=f3bbdf33b8&amp;channel_path=%2F%3Ffb_xd_fragment%23xd_sig%3Df18aebfc8c%26&amp;origin=http%3A%2F%2Fbootstrapbloggertemplate.blogspot.com.br" style="border: none;"></iframe><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" src="https://s-static.ak.facebook.com/connect/xd_arbiter.php?version=27#channel=f3bbdf33b8&amp;channel_path=%2F%3Ffb_xd_fragment%23xd_sig%3Df18aebfc8c%26&amp;origin=http%3A%2F%2Fbootstrapbloggertemplate.blogspot.com.br" style="border: none;"></iframe></div></div></div>
				<script>(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=346685832099704";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
				<div style="borser:1px solid #ddd;text-align:center;"><div class="fb-like-box fb_iframe_widget" data-href="http://www.facebook.com/skyafar" data-width="300" data-height="300" data-show-faces="true" data-stream="false" data-show-border="true" data-header="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=346685832099704&amp;header=false&amp;height=300&amp;href=http%3A%2F%2Fwww.facebook.com%2Fskyafar&amp;locale=en_US&amp;sdk=joey&amp;show_border=true&amp;show_faces=true&amp;stream=false&amp;width=300"><span style="vertical-align: bottom; width: 300px; height: 300px;"><iframe name="f101e5e96c" width="300px" height="300px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like_box Facebook Social Plugin" src="http://www.facebook.com/plugins/like_box.php?app_id=346685832099704&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D27%23cb%3Dfa28abca8%26domain%3Dbootstrapbloggertemplate.blogspot.com.br%26origin%3Dhttp%253A%252F%252Fbootstrapbloggertemplate.blogspot.com.br%252Ff3bbdf33b8%26relation%3Dparent.parent&amp;header=false&amp;height=300&amp;href=http%3A%2F%2Fwww.facebook.com%2Fskyafar&amp;locale=en_US&amp;sdk=joey&amp;show_border=true&amp;show_faces=true&amp;stream=false&amp;width=300" style="border: none; visibility: visible; width: 300px; height: 300px;" class=""></iframe></span></div></div>
			</div>
			<div class="clear"></div>
		</div><div class="widget PopularPosts" id="PopularPosts1">
		<h2>Popular Posts</h2>
		<div class="widget-content popular-posts">
			<ul>
				<li>
					<div class="item-content">
						<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-out-image.html">A post with out image</a></div>
						<div class="item-snippet">A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post w...</div>
					</div>
					<div style="clear: both;"></div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-thumbnail">
							<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html" target="_blank">
								<img alt="" border="0" height="72" src="http://1.bp.blogspot.com/-AeZ2PfdHMP8/T7zUFkp4ZDI/AAAAAAAAAck/NKQEadYbNg8/s72-c/Business+Computer.jpg" width="72">
							</a>
						</div>
						<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html">Pinterest blogger template</a></div>
						<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
					</div>
					<div style="clear: both;"></div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-thumbnail">
							<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html" target="_blank">
								<img alt="" border="0" height="72" src="http://3.bp.blogspot.com/-Wkl5cENLsFY/T8R8w_s5MPI/AAAAAAAAAe0/lUrUNx3dkIM/s72-c/alfa_romeo_mito_maserati-1440x900.jpg" width="72">
							</a>
						</div>
						<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html">Pinterest Blogger Template</a></div>
						<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
					</div>
					<div style="clear: both;"></div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-thumbnail">
							<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing.html" target="_blank">
								<img alt="" border="0" height="72" src="http://4.bp.blogspot.com/-bmdLOeHmpvg/T8R-DAuMLbI/AAAAAAAAAfE/EmLwJXxI_xk/s72-c/Love_hearts_picture_011170_.jpg" width="72">
							</a>
						</div>
						<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing.html">A post with every thing</a></div>
						<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
					</div>
					<div style="clear: both;"></div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-thumbnail">
							<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/second-post-with-every-thing.html" target="_blank">
								<img alt="" border="0" height="72" src="http://3.bp.blogspot.com/-7LsbRGTfELo/T8R9KtJ9ZgI/AAAAAAAAAe8/NQVkJFXwy9Y/s72-c/droid-tablet.jpg" width="72">
							</a>
						</div>
						<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/second-post-with-every-thing.html">Second Post with every thing</a></div>
						<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
					</div>
					<div style="clear: both;"></div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-thumbnail">
							<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/donec-scele-risque-susc-ipit-nisl-sit.html" target="_blank">
								<img alt="" border="0" height="72" src="http://1.bp.blogspot.com/-AeZ2PfdHMP8/T7zUFkp4ZDI/AAAAAAAAAck/NKQEadYbNg8/s72-c/Business+Computer.jpg" width="72">
							</a>
						</div>
						<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/donec-scele-risque-susc-ipit-nisl-sit.html">Donec scele risque susc ipit nisl sit amet phare</a></div>
						<div class="item-snippet">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Sed id purus sed justo eleifend euismod eget auctor eros. Praesent laoreet volutpa...</div>
					</div>
					<div style="clear: both;"></div>
				</li>
				<li>
					<div class="item-content">
						<div class="item-thumbnail">
							<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing_23.html" target="_blank">
								<img alt="" border="0" height="72" src="http://1.bp.blogspot.com/-LZYY6PgXjsA/T8SOCmMeqQI/AAAAAAAAAfc/s41Xf8j6hss/s72-c/red_rose_4-1280x1024+(1).jpg" width="72">
							</a>
						</div>
						<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-every-thing_23.html">A post With Every thing</a></div>
						<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
					</div>
					<div style="clear: both;"></div>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
	</div><div class="widget Label" id="Label1">
	<h2>Tags</h2>
	<div class="widget-content">
		<ul>
			<li>
				<a dir="ltr" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label1">Categoria1</a>
			</li>
			<li>
				<a dir="ltr" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label2">Categoria2</a>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
</div></div>
</div>
</div>
</div>
</div>
<!-- END Container -->
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="span3">
				<div class="lowerbar section" id="lowerbar1"><div class="widget Label" id="Label3">
					<h2>Categorias</h2>
					<div class="widget-content list-label-widget-content">
						<ul>
							<li>
								<a dir="ltr" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label1">Categoria1</a>
								<span dir="ltr">(7)</span>
							</li>
							<li>
								<a dir="ltr" href="http://bootstrapbloggertemplate.blogspot.com.br/search/label/Label2">Categoria2</a>
								<span dir="ltr">(7)</span>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
				</div></div>
			</div>
			<div class="span3">
				<div class="lowerbar section" id="lowerbar2"><div class="widget Profile" id="Profile1">
					<h2>About Me</h2>
					<div class="widget-content">
						<a href="http://www.blogger.com/profile/12167090875086562485"><img alt="My Photo" class="profile-img" height="80" src="http://1.bp.blogspot.com/-91zSHUoVNKY/Ubvr_ZZ-m_I/AAAAAAAABfk/GeyPCL_QulM/s1600/531509_448311445200958_1768760710_n.jpg" width="77"></a>
						<dl class="profile-datablock">
							<dt class="profile-data">
								<a class="profile-name-link g-profile" href="http://www.blogger.com/profile/12167090875086562485" rel="author" style="background-image: url(//www.blogger.com/img/logo-16.png);" data-gapiscan="true" data-onload="true" data-gapiattached="true">
									Admin
								</a>
							</dt>
							<dd class="profile-textblock">I am Ramnadh, I love to write about latest technologies and Blogging. </dd>
						</dl>
						<a class="profile-link" href="http://www.blogger.com/profile/12167090875086562485" rel="author">View my complete profile</a>
						<div class="clear"></div>
					</div>
				</div></div>
			</div>
			<div class="span3">
				<div class="lowerbar section" id="lowerbar3"><div class="widget PopularPosts" id="PopularPosts3">
					<h2>Popular Posts</h2>
					<div class="widget-content popular-posts">
						<ul>
							<li>
								<div class="item-content">
									<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-out-image.html">A post with out image</a></div>
									<div class="item-snippet">A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post w...</div>
								</div>
								<div style="clear: both;"></div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-thumbnail">
										<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html" target="_blank">
											<img alt="" border="0" height="72" src="http://1.bp.blogspot.com/-AeZ2PfdHMP8/T7zUFkp4ZDI/AAAAAAAAAck/NKQEadYbNg8/s72-c/Business+Computer.jpg" width="72">
										</a>
									</div>
									<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html">Pinterest blogger template</a></div>
									<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
								</div>
								<div style="clear: both;"></div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-thumbnail">
										<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html" target="_blank">
											<img alt="" border="0" height="72" src="http://3.bp.blogspot.com/-Wkl5cENLsFY/T8R8w_s5MPI/AAAAAAAAAe0/lUrUNx3dkIM/s72-c/alfa_romeo_mito_maserati-1440x900.jpg" width="72">
										</a>
									</div>
									<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html">Pinterest Blogger Template</a></div>
									<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
								</div>
								<div style="clear: both;"></div>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
				</div></div>
			</div>
			<div class="span3">
				<div class="lowerbar section" id="lowerbar4"><div class="widget PopularPosts" id="PopularPosts2">
					<h2>Popular Posts</h2>
					<div class="widget-content popular-posts">
						<ul>
							<li>
								<div class="item-content">
									<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/a-post-with-out-image.html">A post with out image</a></div>
									<div class="item-snippet">A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post with out image.A post w...</div>
								</div>
								<div style="clear: both;"></div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-thumbnail">
										<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html" target="_blank">
											<img alt="" border="0" height="72" src="http://1.bp.blogspot.com/-AeZ2PfdHMP8/T7zUFkp4ZDI/AAAAAAAAAck/NKQEadYbNg8/s72-c/Business+Computer.jpg" width="72">
										</a>
									</div>
									<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template_23.html">Pinterest blogger template</a></div>
									<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
								</div>
								<div style="clear: both;"></div>
							</li>
							<li>
								<div class="item-content">
									<div class="item-thumbnail">
										<a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html" target="_blank">
											<img alt="" border="0" height="72" src="http://3.bp.blogspot.com/-Wkl5cENLsFY/T8R8w_s5MPI/AAAAAAAAAe0/lUrUNx3dkIM/s72-c/alfa_romeo_mito_maserati-1440x900.jpg" width="72">
										</a>
									</div>
									<div class="item-title"><a href="http://bootstrapbloggertemplate.blogspot.com.br/2012/05/pinterest-blogger-template.html">Pinterest Blogger Template</a></div>
									<div class="item-snippet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla. Sed conva...</div>
								</div>
								<div style="clear: both;"></div>
							</li>
						</ul>
						<div class="clear"></div>

					</div>
				</div></div>
			</div>
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js?ver=1.7.2" type="text/javascript"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
	<p class="footer-link"> © <a href="http://bootstrapbloggertemplate.blogspot.com.br/"><strong>Bootstrap Blogger Template Demo</strong></a> 2013 . Powered by <a href="http://bootstrap.slugs.in" rel="nofollow" title="Bootstrap Blogger Templates">Bootstrap Blogger Templates</a></p>
</div><!-- END Footer -->

</body>
</html>






